@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/styles/_content.css';

@layer base {
  :root {
    --background: 258deg 49% 5%;
    --foreground: 30deg 0% 94%;

    --card: 258deg 49% 5%;
    --card-foreground: 30deg 0% 94%;

    --popover: 258deg 49% 5%;
    --popover-foreground: 30deg 0% 94%;

    --primary: 252deg 95% 62%;
    --primary-foreground: 30deg 0% 94%;

    --secondary: 253deg 23% 71%;
    --secondary-foreground: 30deg 0% 6%;

    --muted: 252deg 49% 29%;
    --muted-foreground: 30deg 0% 94%;

    --accent: 258deg 49% 5%;
    --accent-foreground: 30deg 0% 94%;

    --destructive: 357deg 100% 50%;
    --destructive-foreground: 30deg 0% 94%;

    --border: 252deg 51% 56%;
    --input: 252deg 51% 56%;
    --ring: 252deg 51% 56%;

    --radius: 0.625rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

main {
  
}