@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/styles/_content.css';

@layer base {
  :root {
    --background: 258deg 49% 5%;
    --foreground: 30deg 0% 83%;

    --card: 258deg 49% 5%;
    --card-foreground: 30deg 0% 83%;

    --popover: 258deg 49% 5%;
    --popover-foreground: 30deg 0% 83%;

    --primary: 252desg 91% 61%;
    --primary-foreground: 30deg 0% 83%;

    --secondary: 260deg 15% 90%;
    --secondary-foreground: 30deg 0% 6%;

    --muted: 252deg 49% 29%;
    --muted-foreground: 30deg 0% 83%;

    --accent: 258deg 49% 5%;
    --accent-foreground: 30deg 0% 83%;

    --destructive: 357deg 100% 50%;
    --destructive-foreground: 30deg 0% 83%;

    --border: 252deg 51% 56%;
    --input: 258deg 49% 5%;
    --ring: 252deg 51% 56%;

    --radius: 0.625rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}